/*------------------------------------*\
  #VARIABLES
\*------------------------------------*/
//COLORS
$dark-purple: #4d4c72;
$purple: #7477bf;
$grey: #828282;
$light-grey: #d1d1d1;
$pal-grey: #eeeeee;
$light-white: #fbfbfb;
$green: #81c98f;

//BREAKPOINTS
$brkpoint-md: 768px;
$brkpoint-lg: 1024px;
